@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-light dark:bg-dark text-text-main dark:text-light antialiased selection:bg-primary/20 selection:text-primary font-sans scrollbar-hide transition-all duration-500 ease-in-out;
    min-height: 100%;
  }
}

.btn-primary {
  @apply bg-primary text-white font-bold py-3 px-8 rounded-full shadow-lg hover:bg-primary-hover hover:shadow-primary/30 transition-all duration-300 transform hover:-translate-y-1 active:scale-95 flex items-center justify-center gap-2;
}

.section-padding {
  @apply py-20 px-6 md:px-12 lg:px-24;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(249, 115, 22, 0.5);
}

/* Hide Scrollbar Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}